*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: "smooth";
}

body{
    font-family: "Poppins", sans-serif;
}

.offer-bar{
    background-color: #8D0808;
    color: white;
    padding:10px;
    font-size: 1.5vw;
    display:flex;
    justify-content: center !important;
    align-items: center !important;

}

/* Navigation Section */

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color:#8D0808;
    padding: 1vw;
    position: sticky;
    z-index: 3;
    top:0px;
}

.nav-bar h1{
    font-size: xx-large;
}

.navbar-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:50%;
}

.navbar-link a{
    color:#8D0808;
    text-decoration: none;
}

.navbar-link a:hover {

    text-decoration: underline;
}

.nav-menu{
    display:none;
}

.side-navbar{
    background-color: #8D0808;
    color:white;
    padding:30px;
    height:100%;
    width:40%;
    position:fixed;
    top:0;
    left:0;
    z-index: 10;
    transition-duration: 2s;
    margin-left: -60%;

}

.side-navbar-links a{
    color:white;
    text-decoration: none;

}

.side-navbar-links a:hover {
    color: white;
    text-decoration: underline;

}

.side-navbar-link{
    margin-left: 10%;
}

/* Slider section */
.slider{
    display:flex;
    width:100%;
    overflow:hidden;
    position:relative;


}

.slider-image-container{
    display:flex;
    width:300%;
    transition: margin-left 0.5s ease-in-out;
}

.slider-image-container img{
    width: 100vw;
    flex-shrink: 0;
}

.slider-left,.slider-right{
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    font-size: 12vh;
    cursor:pointer;
    z-index: 1;
    

}

.slider-left{
    left:10px;
}

.slider-right {
    right:10px;
}

.slider-content{
    position:absolute;
    top: 20%;
    left:50%;
    transform:translateX(-50%);
    text-align: center;
    color:#8D0808;
    font-size: 2.5vw;
    width:100%;


}

.slider-content button{
    padding: 0.7vw;
    cursor:pointer;

}

.container{
    padding: 0 15px;
}

/* brands */

.brands{
    margin-top: 3vw;
    padding-left:20px;
    padding-right:20px;
}

.brands-container{
    display:flex;
    justify-content: space-between;
    margin:1vw 0;
    align-items: center;
}

.brands h2{
    color: #8D0808;
}

.brand-icon{
    width:4vw; 
    height:4vw;
    align-items: center; 

}

.brand-item{
    display:flex;
    align-items: center;
    flex-direction: column;
    font-size: 2vw;
    text-align: center;
    color: #8D0808;
}

/* Services */
.service{
    margin: 4vw 0;
    padding:20px;
}

.service-container1{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5vw;
    color: #8D0808;
}

.service-container2{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 2vw 0;
    gap:1vw;
    color: #8D0808;

}

.service-items{
    background-color: #F2F4F7;
    padding: 1vw;
    border-radius: 5px;
    font-size: 1vw;


}

.service-items i{
    font-size: 3vw;
    margin: 0px 0px 8px 0px;
}

/* New Arrivals */

.new-arrivals{
    padding:1.3vw;
}

.new-arrivals h2{
    color: #8D0808;
}


.new-arrivals-container{
    display:flex;
    justify-content: space-between;
    margin-top: 3vw;
}

.new-arrivals-container img{
    width:20vw;
    border-radius: 10px;
    cursor: pointer;
}

.new-arrivals-item{
    position: relative;
}

.overlay{
    position: absolute;
    top:0;
    height:100%;
    width:100%;
    background-color: black;
    opacity: 0.4;
    border-radius: 10px;

}

.new-arrivals-item button{
    padding:1vw 2vw;
    position:absolute;
    top:60%;
    left: 25%;  
    border: none;
    font-size: 1vw;
    border-radius: 1vw;

}

.new-arrivals-item button:hover{
    background-color: #aab1b8;
    cursor: pointer;
}

/* Most wanted */

.most-wanted{
    margin: 4vw 0;
    padding:2vw;
}

.most-wanted h2{
    color: #8D0808;
}

.most-wanted-container{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1vw;
    margin-top: 3vw;
}

.most-wanted-item{
    position:relative;
    cursor: pointer;
}

.most-wanted-item img{
    width:20vw;
    border-radius: 2%;
}

.sale-overlay{
    position:absolute;
    top:5px;
    left:5px;
    font-size: 2vw;
    background-color: red;
    color:white;
    padding:1px 15px;
    border-radius: 10px;
}

.like-button{
    position:absolute;
    width:8% !important;
    bottom:10%;
    right: 5%;

}

/* Limited period offer */
.limited-offer{
    background-color:#8D0808;;
    color: white;
    padding:20px 30px;
    margin:20px;
    display:flex;
    justify-content:space-between;
    align-items: center;
}

.limited-offer-text{
    position:absolute;
    left:50%;
    font-size: 2vw;
}

.limited-offer-text button{
        width:10vw;
        padding:10px 20px;
        border-radius: 20px;
        border:none;
        cursor:pointer;
}

.limited-offer-text button:hover{
    background-color: #AAB1B8;
}

/* News */

.news{
    text-align: center;
    position:relative;
    top:40px;
    font-size: 1.5vw;
    color: #8D0808;
}

.news p{
    font-size: 2vw;
}

.news input{
    margin-top: 20px;
    width:80%;
    height: 2.5vw;
    border: 3px solid #8D0808;;
}

.news button{


        width: 12vw;
        padding: 10px 20px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        background-color: #8D0808;
        color:white;
        margin-top: 20px;
        font-size: 1.5vw;

}

.footer{
    background-color: #8D0808;
    color:white;
    margin-top: 7vw;
    font-size: 1.5vw;
    padding:40px;
    box-sizing: border-box;
    display:flex;
    height: 25vw;
    flex-direction: column;
    gap:4vw;

}

footer-container1{
    display: flex;
    flex-direction: column;
    gap: 5vw;

}

.footer-container2{
    display:flex;
    gap:4vw;
    cursor:pointer;

}

.copy{
    font-size:small;
    position:relative;
    top:-30px;
}


/* Collections */
.collections-container{
    display:flex;
    margin-top: 10px;
}

.filters{
    width:250px;
    padding: 20px;
    border-right: 3px solid;
    color:#8D0808;
}

.filters h3{
    font-size: 2vw;
    margin: 1vw 0 0.3vw 0;
}

.filters label{
    font-size: 1.5vw;
}

.products-container{
    flex:1;
    padding:20px;
}

.search-bar{
    display:flex;
    margin-bottom: 20px;
}

.search-bar input{
    flex:1;
    padding:10px;
    font-size: 1rem;
    border: 3px solid #8D0808;
    border-radius: 10px;
}

.products{
    display:flex;
    flex-wrap: wrap;
    gap:20px;
}

.product{
    width: calc(33.333% - 20px);
}

.product img{
    max-width:100%;
}

.product h1{
    font-size: 2vw;
    text-align: center;
    color:#8D0808;
}

.product p{
    font-size: 1.2vw;
    text-align: center;
    color: #8D0808;
}

/* Contact Form */

.contact-form{
    background-color: #8D0808;
    color:white;
    width: 60vw;
    margin:auto;
    padding:5vw;
    padding-right: 10vw;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba (0,0,0,0.1);
    border-radius: 8px;
}

.contact-form h2{
    margin-bottom: 1vw;
    text-align: center;
}

.contact-form label{
    display: block;
    margin-bottom: 1vh;
}

.contact-form input[type="text"],
.contact-form textarea {
    width: 100%;
    padding:1.5vw;
    border: 1px solid #dddddd;
    border-radius: 4px;
    margin-bottom: 1vw;
    font-size: 1vw;
}

.contact-form textarea{
    resize: vertical;
    height: 10vw;
}

.contact-form input[type = "submit"]{
    color:white;
    border:none;
    font-weight: 800;
    border-radius: 4px;
    padding: 10px 20px;
    cursor:pointer;
    background-color:rgb(234, 87, 64);
    font-size: 16px;

}





/* Responsive Style using Media Queries */
@media screen and (max-width:900px){
    .filters{
        display:none !important;
    }
}

@media screen and (max-width:1000px){
    .nav-menu{
        display:block;
    }

    .navbar-links{
        display:none;
    }
}